# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
# vscode
vscode/
# pdf files
document.pdf
document_with_extra_guides_in_the_appendices.pdf
compressed.pdf
# Intermediate files
*.dvi
*.xdv
*-converted-to.*

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex*
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Algorithm2e package
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# knitr
*-concordance.tex

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# pythontex
*.pytxcode
pythontex-files-*/

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# subfig
*.subfig

# sympy
*.xyc

# TikZ & PGF
*.auxlock
*.figlist
*.makefile
*.facls
*.mapping

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# xcolor
*.xcp

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.trf
*.fff
*.lof

# Latexian
TSWLatexianTemp*

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
*Notes.bib

# glossaries-extra
*.glg-abr
*.glstex

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.glog
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*.figlist
*.makefile
*.upa
*.upb

# listings
*.lol

# luatexja-ruby
*.ltjruby

# markdown
*.markdown.in
*.markdown.lua
*.markdown.out
*.mkd

# max's listing
*.mls

# minted
*.minted
_minted-*

# moreverb
*.mvb

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.scmd

# Texmaker
*.user

# Texstudio
*.txss

# WinEdt
*.bak
*.sav

# MacOS
.DS_Store

# Editor temporary files
*~
.#*
\#*#
*.swp
*.swo

# Backup files
*.backup
*.bk
*.old
